* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.form-buttons{
    margin-top: 3%;
}


body {
    font-size: 17px;
    color: #333333;
    background-image: linear-gradient(to bottom, #000000 0%, rgba(110, 108, 108, 146) 26%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-color: rgba(12, 6, 9, 0);
}
/* The popup form - hidden by default */
.form-popup {
    visibility: hidden;
    position: center;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}



/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}



/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}
#myForm{
    display: block;
    position: absolute;
    background-color: #443535;
    margin: auto;
    left: 15px;
    width: 50%;
    height: 70%;
    top: 120%;
    visibility: hidden;
}
#myFormDelete{
    display: block;
    position: absolute;
    background-color: #443535;
    margin: auto;
    left: 15px;
    width: 50%;
    height: 70%;
    top: 120%;
    display: none;
}

#iftl {
    background-image: linear-gradient(to top, #1a1517 77%, rgba(34, 29, 31, 245) 81%, rgba(69, 67, 67, 0.78) 100%);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    color: #ffffff;
    padding: 120px 0 70px 0;
    text-align: center;
    opacity: 1;
    transition: width 2s ease;
    border: 0 solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 50px 0 black;
}

.cta-button {
    background-color: #DB2777;
    color: #ffffff;
    padding: 15px 20px 15px 20px;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    animation-delay: 0.5s;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #BE185D;
}


.gpd-navbar {
    width: 100%;
}

.gpd-navbar__menu {
    display: none;
}

.gpd-navbar__item {
    flex: 0 1 auto;
}

.gpd-navbar__item-link {
    color: inherit;
    text-decoration: none;
}

#ic5a7 {
    padding: 0;
}

#iu8dq {
    justify-content: space-between;
    align-items: center;
    min-height: auto;
}

#i0yff {
    flex: 0 1 auto;
    height: 100px;
    flex-basis: 508px;
}

#ilani {
    min-height: 25px;
    min-width: 25px;
}

#i6ls5 {
    flex: 0 1 auto;
}

#i3vv9 {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#izu4n {
    flex: 0 1 auto;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 15px;
}

#it3na {
    align-items: center;
    min-height: auto;
    width: 497.984375px;
    height: 90px;
}

#ixuj {
    position: absolute;
    z-index: 10;
    color: #fff;
    border-radius: 0 0 0 0;
    height: 140px;
}

#ivm7f {
    color: black;
    width: 360px;
    height: 90px;
    max-width: 120%;
}

#ihndr {
    flex: 0 1 auto;
    padding: 15px 5px 5px 5px;
}

.nav-item {
    margin: 0 20px 0 0;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.gpd-shape-divider > svg {
    height: 100%;
    width: 100%;
    transform: scaleY(-1);
}

.gpd-shape-divider--fl-v > svg {
    transform: scaleY(1);
}

.gpd-shape-divider--fl-h > svg {
    transform: scaleX(-1) scaleY(-1);
}

.gpd-shape-divider--fl-v-h > svg {
    transform: scaleY(1) scaleX(-1);
}

.gpd-shape-divider > svg > path {
    fill: currentColor;
}

.gpd-shape-divider-inv > path {
    transform: scale(-1, -1) translate(-100%, -100%);
}

#im0u3g {
    color: white;
    padding: 50px 0 0 0;
    opacity: 1;
    border: 0 solid rgba(0, 0, 0, 0.15);
    transition: width 2s ease;
    box-shadow: 0 0 50px 0 black;
    background-color: #211c1e;
    mix-blend-mode: multiply;
}

#iq4rhi {
    margin: 0 0 20px 0;
}

#i104le {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
    font-weight: 200;
}

.footer-link {
    color: white;
    width: 100%;
}

.footer-link:hover {
    opacity: 0.9;
}

#ie0c3h {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
    font-weight: 200;
}

.footer-column {
    flex: 0 1 auto;
    max-width: 200px;
}

.footer-title {
    margin: 0 0 10px 0;
    font-weight: 300;
    opacity: 0.5;
}

#isxhjm {
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
    color: #ffffff;
    font-weight: 200;
}

#iqhrd9 {
    color: #ffffff;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
    font-weight: 200;
}

#i4a6eg {
    margin: 0 0 0 auto;
}

#infzsb {
    align-items: center;
}

#i0bvnn {
    opacity: 0.4;
}

#ird0zk {
    font-size: 0.85rem;
}

#ivi361 {
    height: 1px;
    margin: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

.gpd-divider {
    height: 3px;
    margin: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.gpd-clm {
    padding: 5px 0;
}

.gpd-grid {
    min-height: auto;
    padding: 10px 0;
}

.swiper-slider .swiper-pagination-bullet-active {
    background: currentColor !important;
}

.swiper-slider .swiper-pagination-progressbar-fill {
    background-color: currentColor !important;
}

#iydljl {
    opacity: 0.68;
    font-size: 22px;
    color: #000000;
    background-image: url('https://cdn.grapedrop.com/u196e97e03fa74a93a544f80d10103ecd/9df5aa30cf7e43488c44b87235040e24_day-planner-828611_1920.jpg');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: local;
    background-size: cover;
    height: 300px;
    margin: 50px 15px -10px 15px;
    box-shadow: 0 0 15px 0 black inset;
    transform: translateX(0);
    transition: width 2s ease;
    backdrop-filter: blur(80px);
}

.photo.text {
    align-self: stretch;
    height: 250px;
    opacity: 1;
    mix-blend-mode: normal;
    background-image: url('https://cdn.grapedrop.com/u6ada49d4c96d45bf868b1ea7724190a2/4ae8a697aa1a44b1ae1a90d97cfcf0e5_vaccine-6165772_1280.jpg');
    background-repeat: repeat;
    background-position: center center;
    background-attachment: local;
    background-size: cover;
}

#iqbv5 {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
    font-weight: 200;
}

#iitzx {
    border-radius: 0 0 0 0;
    border: 0 solid rgb(255, 255, 255);
    padding: 10px 10px 10px;
    margin: 0 0 0 41px;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 200;
}

#io6we {
    border: 4px solid rgb(255, 255, 255);
    background-color: rgba(12, 6, 9, 0);
    font-weight: 200;
}

#ikig6 {
    white-space: nowrap;
    margin: 0 15px 0 15px;
    font-size: 17px;
    font-weight: 200;
}

#iguu8 {
    flex: 1 1 100%;
    flex-basis: 88%;
    padding: 5px 10px 5px 20px;
    margin: 15px 40px 0 -55px;
    align-self: center;
}

#im09m {
    white-space: nowrap;
    margin: 15px 50px 0 0;
    align-self: center;
    flex-basis: 88%;
}

#igq3h {
    margin: 0 50px 0 0;
    font-size: 17px;
    font-weight: 200;
}

#ir3pn {
    opacity: 1;
    transition: width 2s ease;
}

#iq4pk {
    margin: 15px 30px 0 -30px;
    padding: 5px 5px 5px 0;
    align-self: center;
    flex-basis: 88%;
}

#ijx38l {
    font-weight: 200;
}

#ijtnb {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
    font-weight: 200;
}

#it3lh {
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 17px;
    border-radius: 0 0 0 0;
    margin: 60px 0 16px 0;
    padding: 0 0 0 0;
}
#it3lj {
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 17px;
    border-radius: 0 0 0 0;
    margin: 60px 0 16px 0;
    padding: 0 0 0 0;
}

#ine3v {
    font-size: 2.5rem;
    font-weight: 200;
    margin: 30px 0 40px 0;
}

@media (max-width: 768px) {
    .gpd-navbar__menu {
        display: block;
    }

    .gpd-navbar__items {
        display: none;
        width: 100%;
    }

    .gpd-navbar__item {
        flex: 1 1 100%;
    }

    .gpd-navbar__items-grid {
        flex-wrap: wrap;
    }

    .gpd-navbar__item-link {
        width: 100%;
    }

    #ihndr {
        display: none;
    }

    #i4a6eg {
        margin: 0 0 0 0;
        max-width: 50%;
    }

    #iq4rhi {
        justify-content: space-between;
    }

    .footer-column {
        max-width: 100%;
        flex-basis: 50%;
        margin: 0 0 40px 0;
    }

    #i0bvnn {
        order: 2;
        text-align: center;
    }

    #ixuj {
        background-color: rgba(33, 34, 43, 0.90);
    }
}

@media (max-width: 375px) {
    #i4a6eg {
        max-width: 100%;
    }

    .footer-column {
        max-width: 100%;
        flex-basis: 100%;
    }
}

*, :after, :before {
    box-sizing: border-box
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Open Sans, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif
}

.gpd-container {
    width: 90%;
    padding: 25px 0;
    margin: 0 auto;
    max-width: 1200px
}
.gpd-box{
    padding:5px 0;
}
#is69q{
    padding:5px 0 5px 2%;
    height: 30px;
}
#is69z{
    padding:5px 0 5px 2%;
    height: 30px;
}#is69x{
    padding:5px 0 5px 2%;
    height: 30px;
}
#ib57n{
    text-align:left;
}
#ib57e{
    text-align:left;
}#ib57f{
    text-align:left;
}
#il7fe{
    flex-basis:60%;
}
#il7ff{
    flex-basis:60%;
}
#il7fg1{
    flex-basis:15%;
}
#il7fg2{
    flex-basis:15%;
}
#il7fg9{
    flex-basis:15%;
}

#il7fg3{
    flex-basis:15%;
}
#il7fg4{
    flex-basis:15%;
}
#il7fg5{
    flex-basis:15%;
}
#il7fg6{
    flex-basis:15%;
}

#iwoa2{
    text-align:left;
    padding:5px 0 5px 2%;
    flex-basis: 14%;
}
#iwoa4{
    text-align:left;
    padding:5px 0 5px 2%;
    flex-basis: 14%;
}#iwoa5{
    text-align:left;
    padding:5px 0 5px 2%;
    flex-basis: 14%;
}
#iwoa3{
    text-align:left;
    padding:5px 0 5px 20px;
}
#i6xgf6{
    text-align:left;
    background-color:#9a6a80;
}
#i6xgf99{
    text-align:left;
    background-color:#9a6a80;
    margin-right: 3%;
}

#i6xg4{
    text-align:left;
    background-color:#9a6a80;
    margin-left: 3%;
}
.ib575{
    text-align: left;
    font-size: 1.5em;
}

#i6xgf8{
    text-align:left;
    background-color:#9a6a80;
}
#i6xgf9{
    text-align:left;
    background-color:#9a6a80;
}
#i6xgf0{
    text-align:left;
    background-color:#9a6a80;
}
#i6xgf1{
    text-align:left;
    background-color:#9a6a80;
}
#deleteButton{
    text-align:left;
    background-color:#6b2424;
}

#i6xgf9{
    text-align:left;
    background-color:#9a6a80;
    margin-right: 1.5%;
}
#i6xgfz{
    text-align:left;
    background-color:#9a6a80;
}

#i6xgf2{
    text-align:left;
    background-color:#9a6a80;
}
#i6xgf3{
    text-align:left;
    background-color:#9a6a80;
}
#i6xgfa{
    text-align:left;
    background-color:#9a6a80;
}
#i6xgfb{
    text-align:left;
    background-color:#9a6a80;
}

#i6xgf7{
    text-align:left;
    background-color:#9a6a80;
}
#i6xgf9{
    text-align:left;
    background-color:#9a6a80;
}

#ir7nb {
    background-color: transparent;
    padding-bottom: 0px;
    height: 140px;
}
#ir7nc {
    background-color: transparent;
    padding-bottom: 0px;
    height: 140px;
}

#ir7nc {
    background-color: transparent;
    padding-bottom: 0px;
    height: 140px;
}#ir7nd {
    background-color: transparent;
    padding-bottom: 0px;
    height: 140px;
}

#ijklr{
    text-align:left;
}
#ijklj{
    text-align:left;
}#ijklx{
    text-align:left;
}

.gpd-section {
    display: flex;
    padding: 50px 0
}

.gpd-image-block {
    height: 200px;
    background-color: #ccc;
    width: auto
}

.gpd-icon {
    vertical-align: middle;
    fill: currentColor;
    width: 64px;
    height: 64px
}

.gpd-icon, .gpd-link, .gpd-link-box, .gpd-text {
    display: inline-block;
    text-decoration: none;
    color: inherit
}

.gpd-link, .gpd-link-box, .gpd-text {
    vertical-align: top;
    padding: 10px;
    max-width: 100%
}

.gpd-link-box {
    padding: 5px
}

.gpd-link {
    color: #d983a6
}

img {
    max-width: 100%;
    vertical-align: middle
}

h1 {
    font-size: 2rem
}

b, i, img, label, small, span, u {
    display: inline-block
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.card {
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    padding: 15px;
    margin-bottom: 15px
}

.form-group, .form-group-gut {
    min-height: 10px;
    padding-bottom: 7px
}

.form-group-gut {
    padding-right: 0px
}

@media (max-width: 768px) {
    .form-group-gut {
        padding-right: 0
    }
}

.button, .button-full, .input, .input-padding, .label-group, .select, .textarea {
    padding: 7px 10px
}

.button, .button-full, .form, .input, .input-radius, .label-group, .select, .textarea {
    border-radius: 3px
}

.input, .input-border, .select, .textarea {
    border: 1px solid rgba(0, 0, 0, .15)
}

.svg-link {
    display: inline-block
}

.link {
    color: #dc659b
}

.link, .link-svg {
    text-decoration: none
}

.link-svg {
    padding: 5px;
    display: inline-block;
    color: inherit;
    opacity: .7;
    transition: color .25s;
    height: 28px;
    width: 28px;
    margin: 0 7.5px
}

.link-svg:hover {
    color: #dc659b;
    opacity: 1
}

.input, .select, .textarea {
    height: 36px;
    background-color: #fff;
    width: 100%;
    color: #555;
    display: block;
    font-size: 14px
}

.input-group {
    height: 36px;
    display: table;
    border-collapse: separate
}

.input-group .button, .input-group .button-full, .input-group .input, .input-group .select, .input-group .textarea {
    display: table-cell;
    vertical-align: middle
}

.textarea {
    height: auto
}

.label-group {
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: rgba(0, 0, 0, .05)
}

.form {
    background-color: #fff;
    padding: 20px
}

.label {
    display: inline-block;
    padding: 5px 0
}

.label-checkbox {
    vertical-align: middle;
    line-height: 2rem
}

.checkbox, .checkbox-label, .radio, .radio-label {
    margin-right: 10px
}

.button, .button-full {
    display: inline-block;
    background-color: #dc659b;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all .2s
}

.button-full {
    width: 100%
}

.input-group {
    min-height: 10px;
    display: flex
}

.input-group :not(:first-child):not(:last-child) {
    border-radius: 0
}

.input-group :first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.input-group :last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.input-group .input-group-addon, .input-group .input-group-btn {
    flex: 1 0 auto
}

.state, .state-error, .state-success {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 3px
}

.state-success {
    display: none;
    background-color: #4ba74b
}

.state-error {
    display: none;
    background-color: #de5454
}

.nav-items {
    display: inline-block;
    float: right
}

.navbar {
    background-color: #222;
    color: #ddd;
    min-height: 50px;
    width: 100%
}

.navbar-container {
    max-width: 950px;
    margin: 0 auto;
    width: 95%
}

.navbar-container:after {
    content: "";
    clear: both;
    display: block
}

.navbar-brand {
    vertical-align: top;
    display: inline-block;
    padding: 5px;
    min-height: 50px;
    min-width: 50px;
    color: inherit;
    text-decoration: none
}

.navbar-items {
    padding: 10px 0;
    display: block;
    float: right;
    margin: 0
}

.navbar-item {
    margin: 0;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px
}

.burger {
    margin: 10px 0;
    width: 45px;
    padding: 5px 10px;
    display: none;
    float: right;
    cursor: pointer
}

.burger-line {
    padding: 1px;
    background-color: #fff;
    margin: 5px 0
}

.quote {
    line-height: 1.5rem
}

.footer-copyright {
    text-align: center;
    padding-top: 20px;
    opacity: .7
}

.footer-link, .footer-link-svg, .header-link, .header-link-svg {
    padding: 7px 5px;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    opacity: .7;
    transition: color .25s
}

.footer-link-svg, .header-link-svg {
    height: 28px;
    width: 28px;
    margin: 0 15px 0 0
}

.footer-link-svg:hover, .footer-link:hover, .header-link-svg:hover, .header-link:hover {
    color: #dc659b;
    opacity: 1
}

.footer-details {
    padding: 5px;
    line-height: 1.5rem
}

.footer-socials {
    padding: 10px 0
}

.footer-form {
    padding-top: 10px
}

.header-link-svg {
    margin: 0 5px
}

.header-socials {
    margin-left: 25px;
    display: inline-block;
    vertical-align: middle
}

.gdp-row, .row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
    min-height: 75px;
    flex-direction: row
}
.input-form{
    display: flex;
}
#i0bve1{
    width: 8%;
    margin-right: 3%;
}
#i0bvf1{
    width: 10%;
    margin-right: 3%;
}

#i0bve0{
    width: 8%;
    margin-right: 3%;
}
.hidden{
    display: none;
}

#i0bve2{
    width: 20%;
}
#i0bvf2{
    width: 10%;
    margin-right: 3%;
}
#i0bvf3{
    width: 10%;
    margin-right: 3%;
}

#i0bve3{
    height: 39px;
    margin-left: 3%;
}


@media (max-width: 768px) {
    .gdp-row, .row {
        flex-wrap: wrap
    }
}

.cell, .cell-gut, .gdp-cell, .gdp-cell-gut {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 5px
}

.cell-gut, .gdp-cell-gut {
    padding-right: 15px
}

@media (max-width: 768px) {
    .cell-gut, .gdp-cell-gut {
        padding-right: 0
    }
}

@media (max-width: 768px) {
    .burger {
        display: block
    }

    .nav-items {
        display: none;
        width: 100%
    }

    .navbar-items {
        width: 100%
    }

    .navbar-item {
        display: block
    }
}

[data-anim-type] {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translateZ(0)
    }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        transform: translate3d(0, -4px, 0)
    }
}

@keyframes bounce {
    0%, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translateZ(0)
    }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        transform: translate3d(0, -4px, 0)
    }
}

@-webkit-keyframes flash {
    0%, 50%, to {
        opacity: 1
    }
    25%, 75% {
        opacity: 0
    }
}

@keyframes flash {
    0%, 50%, to {
        opacity: 1
    }
    25%, 75% {
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scaleX(1)
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05)
    }
    to {
        transform: scaleX(1)
    }
}

@keyframes pulse {
    0% {
        transform: scaleX(1)
    }
    50% {
        transform: scale3d(1.05, 1.05, 1.05)
    }
    to {
        transform: scaleX(1)
    }
}

@-webkit-keyframes shake {
    0%, to {
        transform: translateZ(0)
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0)
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0)
    }
}

@keyframes shake {
    0%, to {
        transform: translateZ(0)
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0)
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0)
    }
}

@-webkit-keyframes tada {
    0% {
        transform: scaleX(1)
    }
    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate(-3deg)
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
    }
    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }
    to {
        transform: scaleX(1)
    }
}

@keyframes tada {
    0% {
        transform: scaleX(1)
    }
    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate(-3deg)
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg)
    }
    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg)
    }
    to {
        transform: scaleX(1)
    }
}

@-webkit-keyframes heartBeat {
    0% {
        transform: scale(1)
    }
    14% {
        transform: scale(1.3)
    }
    28% {
        transform: scale(1)
    }
    42% {
        transform: scale(1.3)
    }
    70% {
        transform: scale(1)
    }
}

@keyframes heartBeat {
    0% {
        transform: scale(1)
    }
    14% {
        transform: scale(1.3)
    }
    28% {
        transform: scale(1)
    }
    42% {
        transform: scale(1.3)
    }
    70% {
        transform: scale(1)
    }
}

@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        transform: scaleX(1)
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        transform: scale3d(.9, .9, .9)
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        transform: scale3d(.97, .97, .97)
    }
    to {
        opacity: 1;
        transform: scaleX(1)
    }
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0)
    }
    75% {
        transform: translate3d(0, -10px, 0)
    }
    90% {
        transform: translate3d(0, 5px, 0)
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0)
    }
    75% {
        transform: translate3d(0, -10px, 0)
    }
    90% {
        transform: translate3d(0, 5px, 0)
    }
    to {
        transform: translateZ(0)
    }
}

@-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0)
    }
    75% {
        transform: translate3d(-10px, 0, 0)
    }
    90% {
        transform: translate3d(5px, 0, 0)
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0)
    }
    75% {
        transform: translate3d(-10px, 0, 0)
    }
    90% {
        transform: translate3d(5px, 0, 0)
    }
    to {
        transform: translateZ(0)
    }
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0)
    }
    75% {
        transform: translate3d(10px, 0, 0)
    }
    90% {
        transform: translate3d(-5px, 0, 0)
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes bounceInRight {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0)
    }
    75% {
        transform: translate3d(10px, 0, 0)
    }
    90% {
        transform: translate3d(-5px, 0, 0)
    }
    to {
        transform: translateZ(0)
    }
}

@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0)
    }
    75% {
        transform: translate3d(0, 10px, 0)
    }
    90% {
        transform: translate3d(0, -5px, 0)
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes bounceInUp {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }
    0% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0)
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0)
    }
    75% {
        transform: translate3d(0, 10px, 0)
    }
    90% {
        transform: translate3d(0, -5px, 0)
    }
    to {
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0)
    }
    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

@-webkit-keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }
    40% {
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }
    80% {
        transform: perspective(400px) rotateX(-5deg)
    }
    to {
        transform: perspective(400px)
    }
}

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }
    40% {
        transform: perspective(400px) rotateX(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    60% {
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }
    80% {
        transform: perspective(400px) rotateX(-5deg)
    }
    to {
        transform: perspective(400px)
    }
}

@-webkit-keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }
    40% {
        transform: perspective(400px) rotateY(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    60% {
        transform: perspective(400px) rotateY(10deg);
        opacity: 1
    }
    80% {
        transform: perspective(400px) rotateY(-5deg)
    }
    to {
        transform: perspective(400px)
    }
}

@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0
    }
    40% {
        transform: perspective(400px) rotateY(-20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }
    60% {
        transform: perspective(400px) rotateY(10deg);
        opacity: 1
    }
    80% {
        transform: perspective(400px) rotateY(-5deg)
    }
    to {
        transform: perspective(400px)
    }
}

@-webkit-keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate(-200deg);
        opacity: 0
    }
    to {
        transform-origin: center;
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        transform-origin: center;
        transform: rotate(-200deg);
        opacity: 0
    }
    to {
        transform-origin: center;
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes rotateInDownLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(-45deg);
        opacity: 0
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes rotateInDownLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(-45deg);
        opacity: 0
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(45deg);
        opacity: 0
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(45deg);
        opacity: 0
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes rotateInUpLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(45deg);
        opacity: 0
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes rotateInUpLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(45deg);
        opacity: 0
    }
    to {
        transform-origin: left bottom;
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes rotateInUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes rotateInUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0
    }
    to {
        transform-origin: right bottom;
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes slideInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes slideInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@-webkit-keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@-webkit-keyframes slideInRight {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes slideInRight {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@-webkit-keyframes slideInUp {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes slideInUp {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }
    50% {
        opacity: 1
    }
}

@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@keyframes zoomInDown {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@-webkit-keyframes zoomInLeft {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@keyframes zoomInLeft {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@-webkit-keyframes zoomInRight {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@keyframes zoomInRight {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@-webkit-keyframes zoomInUp {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

@keyframes zoomInUp {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }
    60% {
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}