* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body {
    font-size: 17px;
    color: #333;
    background-color: #21222b;
}

#iftl {
    background-image: -webkit-linear-gradient(0deg, rgb(43, 50, 75) 0%, rgba(217, 131, 166, 0) 100%);
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    color: #ffffff;
    padding: 120px 0 70px 0;
}

.cta-button {
    background-color: #DB2777;
    color: #ffffff;
    padding: 15px 20px 15px 20px;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    animation-delay: 0.5s;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #BE185D;
}

.gpd-navbar {
    width: 100%;
}

.gpd-navbar__menu {
    display: none;
}

.gpd-navbar__item {
    flex: 0 1 auto;
}

.gpd-navbar__item-link {
    color: inherit;
    text-decoration: none;
}

#ic5a7 {
    padding: 0;
}

#iu8dq {
    justify-content: space-between;
    align-items: center;
    min-height: auto;
}

#i0yff {
    flex: 0 1 auto;
    flex-basis: 10.4 auto;
}

#ilani {
    min-height: 25px;
    min-width: 25px;
}

#i6ls5 {
    flex: 0 1 auto;
}

#i3vv9 {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#izu4n {
    flex: 0 1 auto;
    margin: 0 0 0 40px;
}

#it3na {
    align-items: center;
    min-height: auto;
    width: auto;
}

#ixuj {
    position: absolute;
    z-index: 10;
    color: #fff;
}

#ivm7f {
    color: black;
    width: 235px;
    height: 119px;
}

#ihndr {
    flex: 0 1 auto;
    height: auto;
    display: inherit;
}

.nav-item {
    margin: 0 20px 0 0;
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.gpd-shape-divider {
    position: absolute;
    width: 100%;
    height: 100px;
    color: black;
    overflow: hidden;
}

.gpd-shape-divider > svg {
    height: 100%;
    width: 100%;
    transform: scaleY(-1);
}

.gpd-shape-divider--fl-v {
    transform: translateY(-100%);
}

.gpd-shape-divider--fl-v > svg {
    transform: scaleY(1);
}

.gpd-shape-divider--fl-h > svg {
    transform: scaleX(-1) scaleY(-1);
}

.gpd-shape-divider--fl-v-h > svg {
    transform: scaleY(1) scaleX(-1);
}

.gpd-shape-divider > svg > path {
    fill: currentColor;
}

.gpd-shape-divider-inv > path {
    transform: scale(-1, -1) translate(-100%, -100%);
}

#im0u3g {
    background-color: #21222b;
    color: white;
    padding: 50px 0 0 0;
}

#iq4rhi {
    margin: 0 0 20px 0;
}

#i104le {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

.footer-link {
    color: white;
    width: 100%;
}

.footer-link:hover {
    opacity: 0.9;
}

#iq460j {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

#idsxg5 {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

#ie0c3h {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

.footer-column {
    flex: 0 1 auto;
    max-width: 200px;
}

.footer-title {
    margin: 0 0 10px 0;
    font-weight: 300;
    opacity: 0.5;
}

#ifskul {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

#ijasxj {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

#ihm4kz {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

#ifmeek {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

#i0a0b5 {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

#ie946q {
    color: white;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

#isxhjm {
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
    color: #F472B6;
}

#iqhrd9 {
    color: #F472B6;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

#i4a6eg {
    margin: 0 0 0 auto;
}

#izp2jd {
    color: #F472B6;
    padding: 7px 5px 7px 0;
    margin: 0 0 10px 0;
}

#infzsb {
    align-items: center;
}

#i0bvnn {
    opacity: 0.4;
}

#ird0zk {
    font-size: 0.85rem;
}

#ivi361 {
    height: 1px;
    margin: 10px 10px 10px 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

#ivyzt7 {
    flex: 0 1 auto;
}

#iap5p1 {
    width: 32px;
    height: 32px;
}

#itpjjh {
    opacity: 0.7;
    justify-content: flex-end;
}

#iz0wao {
    flex: 0 1 auto;
}

#ih7jpi {
    width: 32px;
    height: 32px;
}

#i3s2ua {
    flex: 0 1 auto;
}

#i35zto {
    width: 32px;
    height: 32px;
}

#i3im0b {
    flex: 0 1 auto;
}

#i54mfi {
    width: 32px;
    height: 32px;
}

#i7qq5v {
    color: white;
    height: 90px;
}

.gpd-divider {
    height: 3px;
    margin: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.gpd-header {
    margin: 0;
}

#i0zoef {
    flex: 0 1 auto;
    margin: 0 0 0 0;
}

#i5pml {
    background-color: #ffffff;
}

#i6uv1 {
    flex: 0 1 auto;
    flex-basis: 52.2 auto;
    align-self: stretch;
    order: 0;
    margin: 0 0 0 0;
    border-radius: 0 0 0 0;
    border: 0 none rgb(51, 51, 51);
}

#iucs5j {
    flex: 0 1 auto;
    height: auto;
    display: inherit;
    max-width: auto;
    align-self: center;
}

#idb2sd {
    justify-content: space-between;
    align-items: center;
    min-height: auto;
}

#i0cj17 {
    display: inherit;
}

@media (max-width: 768px) {
    .gpd-navbar__menu {
        display: block;
    }

    .gpd-navbar__items {
        display: none;
        width: 100%;
    }

    .gpd-navbar__item {
        flex: 1 1 100%;
    }

    .gpd-navbar__items-grid {
        flex-wrap: wrap;
    }

    .gpd-navbar__item-link {
        width: 100%;
    }

    #ihndr {
        display: none;
    }

    #i1ybqs {
        max-width: 50%;
    }

    #ikeiog {
        max-width: 50%;
    }

    #i4a6eg {
        margin: 0 0 0 0;
        max-width: 50%;
    }

    #iq4rhi {
        justify-content: space-between;
    }

    .footer-column {
        max-width: 100%;
        flex-basis: 50%;
        margin: 0 0 40px 0;
    }

    #itpjjh {
        justify-content: center;
    }

    #i0bvnn {
        order: 2;
        text-align: center;
    }

    #ixuj {
        background-color: rgba(33, 34, 43, 0.90);
    }

    #iucs5j {
        display: none;
    }
}

@media (max-width: 375px) {
    #i1ybqs {
        max-width: 100%;
    }

    #ikeiog {
        max-width: 100%;
    }

    #i4a6eg {
        max-width: 100%;
    }

    .footer-column {
        max-width: 100%;
        flex-basis: 100%;
    }
}