* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.gpd-header {
    margin: 0;
}

#ihsc {
    font-weight: 200;
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 44px;
}

body {
    background-color: #cbcbcb;
}

#it6b {
    margin: 70px 0 0 0;
    text-align: left;
}

#iq5bj {
    margin: 0 0 0 0;
    text-align: left;
}

#i6fm {
    margin: 0 0 0 0;
    text-align: left;
}

#io1v5 {
    margin: 0 0 0 0;
    text-align: left;
}

#ic0i {
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    mix-blend-mode: color-burn;
    padding: 0 0 0 0;
    margin: 5px 0 0 0;
    font-size: 20px;
    font-weight: 300;
}

#iehti {
    margin: 0 0 0 0;
    text-align: left;
}

#im4ok {
    margin: 0 0 0 0;
    text-align: left;
}

#iis69 {
    font-size: 27px;
    font-weight: 200;
    text-align: center;
    padding: 50px 0 50px 0;
    margin: 60px 0 8px 0;
}

#iez0i {
    margin: 0 0 0 0;
    text-align: left;
}

#itus9 {
    margin: 0 0 0 0;
    text-align: left;
}

#iwlx3 {
    margin: 0 0 0 0;
    text-align: left;
}

#i35ie {
    margin: 0 0 0 0;
    text-align: left;
}