<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vaccines</title>
</head>
<body>
<h1> Vaccine management test page</h1>
<table>
    <thead>
    <tr>
        <th> id </th>
        <th> Vaccine center id</th>
        <th> Brand </th>
        <th> count </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vaccine : ${vaccines}">
        <td th:text="${vaccine.id}"></td>
        <td th:text="${vaccine.vaccine_center_id}"></td>
        <td th:text="${vaccine.brand}"></td>
        <td th:text="${vaccine.count}"></td>
    </tr>
    </tbody>
</table>

<br>
<br>

<form method="get" action="/findVaccineByCenter" >
    <input type="number" placeholder="CENTER ID" name="vaccine_center_id">
    <input type="submit" name="submit">
</form>

    <table>
        <thead>
        <tr>
            <th> id </th>
            <th> Vaccine center id</th>
            <th> Brand </th>
            <th> count </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vaccine : ${vaccinesById}">
            <td th:text="${vaccine.id}"></td>
            <td th:text="${vaccine.vaccine_center_id}"></td>
            <td th:text="${vaccine.brand}"></td>
            <td th:text="${vaccine.count}"></td>
        </tr>
        </tbody>
    </table>


<br>
<br>
<br>
<form method="post" action="/addVaccines" >
    <input type="number" placeholder="ID" name="id">
    <input type="number" placeholder="CENTER ID" name="vaccine_center_id">
    <input type="text" placeholder="BRAND" name="brand">
    <input type="number" placeholder="COUNT" name="count">
    <input type="submit" value="Add vaccines">
</form>
<br>
<br>

<form method="post" action="/useVaccine" >
    <input type="number" placeholder="CENTER ID" name="vaccine_center_id">
    <input type="text" placeholder="BRAND" name="brand">
    <input type="submit" value="Use vaccine">
</form>




</body>
</html>