<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vaccines</title>
</head>
<body>
<h1> Vaccine center test page</h1>
<table>
    <thead>
    <tr>
        <th> id </th>
        <th> capacity</th>
        <th> city </th>
        <th> zip code </th>
        <th> house number </th>
        <th> street </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vaccineCenter : ${vaccineCenters}">
        <td th:text="${vaccineCenter.id}"></td>
        <td th:text="${vaccineCenter.capacity}"></td>
        <td th:text="${vaccineCenter.city}"></td>
        <td th:text="${vaccineCenter.zip_code}"></td>
        <td th:text="${vaccineCenter.house_number}"></td>
        <td th:text="${vaccineCenter.street}"></td>
    </tr>
    </tbody>
</table>
<br>
<br>
<form method="post" action="/addVaccineCenter">
    <input type="number" placeholder="Capacity" name="capacity">
    <input type="text" placeholder="City" name="city">
    <input type="number" placeholder="Zip code" name="zip_code">
    <input type="number" placeholder="House number" name="house_number">
    <input type="text" placeholder="Street" name="street">
    <input type="submit" value="Add vaccine center">
</form>
<br>
<br>
<br>

<h2>Filter vaccine centers by city</h2>
<form method="get" action="/fetchVaccineCentersByCity" >
    <input type="text" placeholder="CENTER CITY" name="city">
    <input type="submit" >
</form>

<table>
    <thead>
    <tr>
        <th> id </th>
        <th> capacity</th>
        <th> city </th>
        <th> zip code </th>
        <th> house number </th>
        <th> street </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vaccineCenter : ${vaccineCentersByCity}">
        <td th:text="${vaccineCenter.id}"></td>
        <td th:text="${vaccineCenter.capacity}"></td>
        <td th:text="${vaccineCenter.city}"></td>
        <td th:text="${vaccineCenter.zip_code}"></td>
        <td th:text="${vaccineCenter.house_number}"></td>
        <td th:text="${vaccineCenter.street}"></td>
    </tr>
    </tbody>
</table>

<br>
<br>
<br>
<h2>Delete vaccine center</h2>
<form method="post" action="/deleteVaccineCenter">
    <input type="number" placeholder="ID" name="id">
    <input type="submit" value="DELETE">

</form>

<h2>Update vaccine center</h2>
<form method="post" action="/updateVaccineCenter" >
    <input type="number" placeholder="ID" name="id">
    <input type="number" placeholder="CAPACITY" name="capacity">
    <input type="text" placeholder="CITY" name="city">
    <input type="number" placeholder="ZIP CODE" name="zip_code">
    <input type="number" placeholder="HOUSE NUMBER" name="house_number">
    <input type="text" placeholder="STREET" name="street">
    <input type="submit" value="UPDATE">
</form>

</body>
</html>