<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>Corona portal</title>

    <meta name="description" content="">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Corona portal">
    <meta itemprop="description" content="">

    <link rel="icon" type="image/png" href="/images/favIcon.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
    </style>

    <style data-css-anim="">
        [data-anim-type]:not([data-anim-done]) {
            opacity: 0;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="/css/homePageStyle.css">
</head>
<body data-new-gr-c-s-check-loaded="14.1012.0" data-gr-ext-installed="">
<div id="ixuj" data-anim-type="fadeIn" data-anim-br="414" class="gpd-navbar" data-anim-done="1"
     style="animation-name: fadeIn;">
    <div id="ic5a7" class="gpd-container">
        <div id="iu8dq" class="gdp-row">
            <div id="i0yff" class="cell" href="/"><a id="ilani" href="/"
                                            class="gpd-link-box"><img id="ivm7f"
                                                                      src="/css/appStyle.css" th:src="@{images/Corona portal logo.png}"></a>
            </div>
            <div id="i6ls5" class="cell gpd-navbar__menu"><a id="i3vv9" class="gpd-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2z"></path>
                </svg>
            </a></div>
            <div id="izu4n" class="cell gpd-navbar__items">
                <div id="it3na" class="gdp-row gpd-navbar__items-grid">
                    <div id="im09m" class="cell gpd-navbar__item nav-item"><a id="igq3h"
                                                                              href="https://www.sst.dk/en/English"
                                                                              target="_blank"
                                                                              class="gpd-navbar__item-link">About us<br></a>
                    </div>
                    <div id="iy63k" class="cell gpd-navbar__item nav-item"><a href="#iftl" id="i0tql"
                                                                              class="gpd-navbar__item-link">Services we
                        offer<br></a></div>
                    <div id="iq1c6" class="cell gpd-navbar__item nav-item"><a
                            href="https://www.sst.dk/en/English/Corona-eng" target="_blank" id="iq1sw"
                            class="gpd-navbar__item-link">Find out about COVID-19<br></a></div>
                </div>
            </div>
            <div id="ihndr" class="cell"><a id="io6we" href="/login"
                                            class="gpd-link cta-button">Log in&nbsp;</a></div>
        </div>
    </div>
</div>
<section id="ihbco">
    <div id="ikg4k" class="container">
        <div data-columns="1" id="ij3ti" class="row no-gutters">
            <div data-column="1" id="im7c1" class="cell"><h1 id="i80hq" class="gpd-header">We're here for you</h1>
                <div id="iwbog">Helping you take control of your health during COVID-19, the global pandemic. <br>&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;Book
                    your COVID-19 test or vaccine appointment in one of our many centers around Denmark.
                </div>
                <a href="https://www.sst.dk/da/corona" id="i58ut" target="_blank">
                    Learn More
                </a></div>
        </div>
    </div>
</section>
<section id="iftl" class="gpd-section">
    <div id="ia0i" class="gpd-container"><h1 id="ii4xt" class="gpd-header">With our system you can now...</h1>
        <div id="idd1fa" class="gdp-row gpd-grid">
            <div id="iydljl" class="cell gpd-clm photo">
                <div id="iy0yae" class="gpd-text">
                    <div>REGISTER FOR<br>COVID-19<br>&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;VACCINATION
                    </div>
                </div>
            </div>
            <div id="inx6fv" class="cell gpd-clm photo">
                <div id="ih8pmz" class="gpd-text text">
                    <div>BOOK YOUR<br>COVID-19<br>TEST</div>
                </div>
            </div>
            <div id="ivyf4r" class="cell gpd-clm photo">
                <div id="i9p16r" class="gpd-text text">
                    <div>VIEW YOUR APPOINTMENTS</div>
                </div>
            </div>
            <div id="i5phqh" class="cell gpd-clm photo">
                <div id="inisqj" class="gpd-text text">
                    <div>VIEW YOUR<br>&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;&ZeroWidthSpace;CORONAPAS
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>html {
    scroll-behavior: smooth;
}</style>
<section title="Meet our Developers" id="MOD" class="team1">
    <div id="itsfi" class="container"><h1 id="ixehb" class="gpd-header">Meet Our Developers</h1>
        <div data-columns="1" id="ignb8" class="row no-gutters">
            <div data-column="1" class="cell"><img id="ik68v"
                                                   src="/images/Franek image.png">
                <div id="igp6l" class="team-name1">Franek Liszka</div>
                <div id="ielgh" class="team-pos1">Computer Science student</div>
            </div>
            <div data-column="1" class="cell"><img id="iqne1"
                                                   src="/images/Georgi image.png">
                <div id="ihpsl" class="team-name1">Georgi Dimitrov</div>
                <div id="iaai5" class="team-pos1">Computer Science student</div>
            </div>
            <div data-column="1" class="cell"><img id="imelk"
                                                   src="/images/Marek image.png">
                <div id="i6nmt" class="team-name1">Marek Lipnitsky</div>
                <div id="izxly" class="team-pos1">Computer Science student</div>
            </div>
        </div>
    </div>
</section>
<section id="im0u3g" class="gpd-section">
    <div id="iobnhd" class="gpd-container">
        <div id="iq4rhi" class="gdp-row">
            <div id="idggm4" class="cell footer-column"><a id="i104le" href="https://www.sst.dk/en/English"
                                                           target="_blank" class="gpd-link footer-link">About us</a><a
                    id="iqbv5" href="https://www.sst.dk/en/English/Corona-eng" target="_blank" class="gpd-link footer-link">Learn
                more</a><a id="iq460j" href="https://www.sst.dk/en/English/Corona-eng/Vaccination-against-COVID-19" target="_blank" class="gpd-link footer-link">Services we offer</a><a id="ie0c3h"
                                                                                                    href="#itsfi"
                                                                                                    class="gpd-link footer-link">Meet
                our developers</a></div>
            <div id="i4a6eg" class="cell footer-column"><h4 id="ijx38l" class="footer-title">Contact us</h4><a
                    id="isxhjm" href="" class="gpd-link">support@coronaportal.com</a><a id="iqhrd9"
                                                                                        class="gpd-link footer-link">+45
                60 54 42 21</a></div>
        </div>
        <div id="ivi361" class="gpd-divider"></div>
        <div id="infzsb" class="gdp-row">
            <div id="i0bvnn" class="cell">
                <div id="ird0zk" class="gpd-text">© 2020 Copyright, All Right Reserved. Made by EEB Dev Group</div>
            </div>
        </div>
    </div>
</section>


<script async="" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" onload="postJQ()"></script>
<script async="" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>

